<ion-view view-title="Products">
  <ion-content>
    <ion-list>
    <div class="row responsive-grid-break">
      <div class="col">
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in products.catalog" type="item-text-wrap" href="#/tab/chats/{{product.id}}">
        <img ng-src="{{product.image}}">
        <h2>{{product.name}}</h2>
        <h3>Price: {{product.price}}</h3>
        <ion-option-button class="button-assertive" ng-click="remove(product)"> Edit</ion-option-button>
        </ion-item>
      </div>
    </div>   
    </ion-list>
  </ion-content>
</ion-view>
